{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} {%
block content %}
<div class="container mt-5" style="max-width: 600px">
  <h2 class="text-center mb-4">Créer un compte</h2>

  <div class="p-4 bg-light rounded shadow-sm">
    {{ form_start(registrationForm) }}

    <div class="mb-3">
      {{ form_label(registrationForm.pseudo) }}
      {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'

      }}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registrationForm.email) }}
      {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'

      }}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registrationForm.plainPassword.first) }}
      {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'

      }}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registrationForm.plainPassword.second) }}
      {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'

      }}) }}
    </div>

    <div class="mb-3 form-check">
      {{ form_widget(registrationForm.agreeTerms) }}
      {{ form_label(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-success w-100">S’inscrire</button>

    {{ form_end(registrationForm) }}

    <div class="text-center mt-3">
      <a href="{{ path('app_login') }}">Déjà inscrit ? Se connecter</a>
    </div>
  </div>
</div>
{% endblock %}
