{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %}{% block
content %}
<section class="contact-section">
  <div class="contact-wrapper">
    <h1 class="contact-title">Contactez-nous</h1>
    <div class="contact-form-container">
      {{ form_start(form, { attr: { id: "contactForm" } }) }}

      <div class="form-group">
        {{
          form_label(form.nom, null, { label_attr: { class: "form-label" } })
        }}
        {{
          form_widget(form.nom, {
            attr: {
              class: "form-control",
              placeholder: "Votre nom"
            }
          })
        }}
      </div>

      <div class="form-group">
        {{
          form_label(form.email, null, { label_attr: { class: "form-label" } })
        }}
        {{
          form_widget(form.email, {
            attr: {
              class: "form-control",
              placeholder: "Votre email"
            }
          })
        }}
      </div>

      <div class="form-group">
        {{
          form_label(form.message, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{
          form_widget(form.message, {
            attr: {
              class: "form-control",
              rows: 5,
              placeholder: "Votre message"
            }
          })
        }}
      </div>

      <button type="submit" class="form-button">Envoyer</button>
      {{ form_end(form) }}

      <div id="message-contact"></div>
    </div>
  </div>
</section>
{% endblock %}
