<footer class="perso-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          src="{{ asset('images/logo/LOGO EcoRide.PNG') }}"
          alt="Logo"
          class="logo-footer img-fluid"
        />
      </div>
      <div class="col-md-4">
        <h5 class="footer-title">Besoin d'aide ?</h5>
        <a
          href="formulaire.php"
          class="btn btn-white contact-button"
          style="
            background-color: white;
            color: #005f73;
            border: 2px solid #005f73;
          "
          >Contacter nous</a
        >
      </div>

      <div class="col-md-4">
        <h5 class="footer-title">Suivez nous</h5>
        <div class="social-icons">
          <a href="#"
            ><img
              src="{{ asset('images/logo/facebook.png') }}"
              alt="Facebook"
              class="social-icon"
          /></a>
          <a href="#">
            <img
              src="{{ asset('images/logo/instagram.png') }}"
              alt="Instagram"
              class="social-icon"
          /></a>
          <a href="#">
            <img
              src="{{ asset('images/logo/tripadvisor.png') }}"
              alt="Tripadvisor"
              class="social-icon"
          /></a>
          <a href="#">
            <img
              src="{{ asset('images/logo/x.jpg') }}"
              alt="x"
              class="social-icon"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted small">
          © 2025 MOHAMMAD Aowis Tous droits réservés
        </p>
      </div>
    </div>
  </div>
</footer>
