<header>
  {% if app.user %}
  <a href="{{ path('user_dashboard') }}" class="admin">
    <img
      src="{{ asset('assets/images/logo/iconebleu.png') }}"
      alt="Tableau de bord"
    />
  </a>
  {% else %}
  <a href="{{ path('app_login') }}" class="admin">
    <img
      src="{{ asset('assets/images/logo/iconebleu.png') }}"
      alt="Connexion"
    />
  </a>
  {% endif %}

  <div class="header-container">
    <div class="logo">
      <img
        src="{{ asset('assets/images/logo/LOGO EcoRide.PNG') }}"
        alt="EcoRide"
      />
    </div>

    <nav class="titre-navigation">
      <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_covoiturage') }}">Covoiturage</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
      </ul>
    </nav>

    <!-- Bouton menu burger pour mobile -->
    <div class="burger-container">
      <a href="#" id="logo-burger-button">
        <img
          id="logo-burger"
          src="{{ asset('assets/images/logo/LOGO.png') }}"
          alt="menu"
          height="40"
          width="40"
        />
      </a>
    </div>
  </div>

  <!-- Menu latéral caché -->
  <div id="vertical-navbar" class="vertical-navbar">
    <ul>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><a href="{{ path('app_covoiturage') }}">Covoiturage</a></li>
      <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>
    <button id="close-button">Fermer</button>
  </div>
</header>
