<header>
  {% if app.user %}
  <a href="{{ path('user_dashboard') }}" class="admin">
    <img
      src="{{ asset('assets/images/logo/iconebleu.png') }}"
      alt="Tableau de bord"
    />
  </a>
  {% else %}
  <a href="{{ path('app_login') }}" class="admin">
    <img
      src="{{ asset('assets/images/logo/iconebleu.png') }}"
      alt="Connexion"
    />
  </a>
  {% endif %}

  <div class="header-container">
    <div class="logo">
      <img
        src="{{ asset('assets/images/logo/LOGO EcoRide.PNG') }}"
        alt="EcoRide"
      />
    </div>

    <div class="text-center flex-grow-1">
      {% if 'ROLE_CHAUFFEUR' in app.user.roles and 'ROLE_PASSAGER' in
      app.user.roles %}
      <h4 class="mb-0 fw-bold text-primary">Espace Chauffeur & Passager</h4>
      {% elseif 'ROLE_CHAUFFEUR' in app.user.roles %}
      <h4 class="mb-0 fw-bold text-primary">Espace Chauffeur</h4>
      {% elseif 'ROLE_PASSAGER' in app.user.roles %}
      <h4 class="mb-0 fw-bold text-primary">Espace Passager</h4>
      {% else %}
      <h4 class="mb-0 fw-bold text-primary">Espace Utilisateur</h4>
      {% endif %}
    </div>

    <div>
      <a href="{{ path('app_logout') }}" class="btn btn-outline-danger"
        >Déconnexion</a
      >
    </div>
  </div>
</header>
