{% extends 'baseUser.html.twig' %} {% block title %}Donner un avis - EcoRide{%
endblock %} {% block content %}
<div class="avis-form-box mt-4">
  <h2>Donner un avis sur {{ cible.pseudo }}</h2>

  {{ form_start(form) }}

  <div class="rating-stars">
    {{ form_row(form.note) }}
  </div>

  <div class="mb-3">
    {{ form_row(form.commentaire) }}
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Valider</button>
    <a href="{{ path('user_history') }}" class="btn btn-secondary">Annuler</a>
  </div>

  {{ form_end(form) }}
</div>
{% endblock %}
